- flash.each do |message_type, message|
  %div{:class => "alert alert-#{message_type}"}= message


%div.page.navbar.navbar-inverse
  %body
  %h1#title Welcome to Your Online Shopping Paradise!
  %div
    %table.table.table-condensed
      %thead
        %tr
          %th.link-heading Recently Posted Items:
    %h2#title Categories:
    %div
      - @categories.each do |category|
        .words-admin.category-button.btn.btn-default= link_to category.title, category_path(category)

    - @items.each do |item|
      %div.col-sm-4
        %tbody
          %tr
            .link=item.title
            .link.img-responsive=link_to image_tag("#{item.image}", width: "50%"), item_path(item.id)
            %br


