%div.page.navbar.navbar-inverse
  %body
  %h1#title Welcome to Your Online Shopping Paradise!
  .link= link_to'New Item', new_item_path
  %table.table.table-condensed
    %thead
      %tr
        %th.link Recently Posted Items

  - @items.each do |item|
    %tbody
      %tr
        .link=link_to image_tag("#{item.image}", width: "10%", height: "20%"), item_path(item.id)
        %br
  %p
  = link_to 'Home', root_path
