%h1 Welcome to Your Online Shop!
= link_to 'New Item', new_item_path
%h2 Here are your items




- @items.each do |item|
  %ul
    %li=	item.title
    %li=	item.text
    %li=	item.price
    %li=	item.image
  = link_to 'Edit', edit_item_path(item)
  = link_to 'Delete', item_path(item),
    method: :delete,
    data: { confirm: 'Are you sure?' }


%p
= link_to 'Home', root_path
